:root {
  --verde-destaque: #01371A;
  --bg-principal: #FFFFFF;
}

body {
  background-color: var(--bg-principal);
  color: #212529;
}

.bg-custom-primary {
  background-color: var(--verde-destaque) !important;
  color: #FFFFFF !important;
}

.text-custom-primary {
  color: var(--verde-destaque) !important;
}

.border-custom-primary {
  border-color: var(--verde-destaque) !important;
}

.table-custom-header {
  background-color: var(--verde-destaque) !important;
  color: #FFFFFF !important;
}

.card-custom {
  border: 2px solid var(--verde-destaque);
  border-radius: 8px;
}